---
import { Aside, LinkCard } from '@astrojs/starlight/components';
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import { getEntry } from 'astro:content';

export const projects: {
	name: string;
	description: string;
	tag?: string;
	github: string;
	doc?: string;
	intro?: string;
}[] = [
	{
		name: 'UniMap',
		description:
			'a programming language based on pure pattern matching and data structure mapping',
		tag: 'unimap',
		github: 'https://github.com/aliibrahim123/unimap',
		doc: 'https://github.com/aliibrahim123/unimap/blob/main/docs/ref.md',
	},
	{
		name: 'MEP',
		description: 'an advance 64 bit risc cpu implemented in unimap',
		tag: 'mep',
		github: 'https://github.com/aliibrahim123/unimap-mep',
		doc: 'https://github.com/aliibrahim123/unimap-mep/blob/main/ref.md',
	},
	{
		name: 'NeoView',
		description: 'a safe and robust declarative ui framework',
		tag: 'neoview',
		github: 'https://github.com/aliibrahim123/neoview.rs',
		doc: 'https://docs.rs/neoview',
		intro: '/recomputed/web-and-ui/neoview/intro',
	},
	{
		name: 'NeoComp',
		description: 'a lightweight reactive ui framework',
		tag: 'neocomp',
		github: 'https://github.com/aliibrahim123/neocomp.js',
		doc: 'https://aliibrahim123.github.io/neocomp.js/',
		intro: '/recomputed/web-and-ui/neocomp/intro',
	},
	{
		name: 'Structom',
		description: 'a general data exchange format designed for universal applications',
		tag: 'structom',
		github: 'https://github.com/aliibrahim123/structom',
		doc: 'https://github.com/aliibrahim123/structom/blob/main/spec/index.md',
	},
	{
		name: 'Gramex',
		description: 'an expressive grammer notation for advance parsers',
		tag: 'gramex',
		github: 'https://github.com/aliibrahim123/gramex',
		doc: 'https://docs.rs/gramex',
	},
	{
		name: 'TEEP',
		description: 'a 64 bit risc cpu implemented in typescript types',
		tag: 'teep',
		github: 'https://github.com/aliibrahim123/ts-madness',
		doc: 'https://github.com/aliibrahim123/ts-madness/blob/master/cpu/ref.md',
	},
];

let intro_titles: string[] = [];
for (let project of projects) {
	if (project.intro) {
		intro_titles.push((await getEntry('docs', project.intro))?.data.title!);
	} else intro_titles.push('');
}
---

<StarlightPage frontmatter={{ title: 'Projects', template: 'splash' }}>
	<Aside>These projects are currently not production ready</Aside>
	{
		projects.map((project, ind) => (
			<div class="bg-black p-5 rounded-[1em] border-2 border-gray-4">
				<h3
					class="text-white font-mono font-bold grid grid-cols-[1fr_max-content] text-xl!"
					id={project.name.toLowerCase()}
				>
					{project.name}
				</h3>
				<div>{project.description}</div>
				<div class="grid sm:grid-cols-2 gap-2 *:mt-0!">
					<LinkCard title="GitHub" href={project.github} />
					{project.doc && <LinkCard title="Docs" href={project.doc} />}
					{project.intro && <LinkCard title="Intro Article" href={project.intro} />}
					<LinkCard title="Articles" href={'/recomputed/tag_index#' + project.tag} />
				</div>
			</div>
		))
	}
	<h2>To Be Refactored</h2>
	<ul>
		<li>
			<span class="font-bold font-mono text-white text-xl">Structom: </span>enhance
			expressivity and powerfullness.
		</li>
		<li><span class="font-bold font-mono text-white text-xl">Gramex: </span>add cursor.</li>
		<li>
			<span class="font-bold font-mono text-white text-xl">NeoComp: </span>i dont know how,
			put i can simplify internals and increase spead.
		</li>
	</ul>

	<h2>Future Projects</h2>
	<ul>
		<li>
			<span class="font-bold font-mono text-white text-xl">ALoGate: </span>a logic simulator.
		</li>
	</ul>
</StarlightPage>
