---
import { FileTree } from '@astrojs/starlight/components';

interface Props {
	tree: Map<string, FSItem>;
	is_child?: boolean;
}

// prettier-ignore
export type FSItem = 
	{ type: 'dir'; children: Map<string, FSItem>; id?: string } | 
	{ type: 'file'; path: string };
export type FSDir = FSItem & { type: 'dir' };

let Self = Astro.self;
---

{
	// prettier-ignore
	Astro.props.is_child ? <ul>{
		Astro.props.tree.entries().map(([name, item]) =>
			item.type === 'file' ? (
				<li><a href={item.path}>{name}</a></li>
			) : (
				<li>{name}<h2 id={item.id} /><Self tree={item.children} is_child /></li>
			),
		)
	}</ul> : <div class="article-list">
		<FileTree><Self tree={Astro.props.tree} is_child /></FileTree>
	</div>
}
